<form action="/list" method="post">
  <div id="btnListsDiv">
    <input class="addTaskInput" id="addListInput" type="text" name="title" />
    <div><button class="addListBtn" style="float:right">New list</button></div>

  </div>
</form>

<div id="listsDiv">
  {{#each allLists}}
    <div class="list-card">
      <div>
        <h2 id={{this._id}}>{{this.title}}</h2>
        <img class="titlesIcon" src="/images/edit.png" alt="" />
      </div>
      <div class="dropdown">
        <form action="/todos/{{this._id}}" method="POST">
          <input
            class="addTaskInput"
            type="text"
            name="content"
            placeholder=" Name your task"
          />
          <button class="addTaskBtn">Add task</button>
        </form>

        <ul class="unList">
          {{#each this.todos}}
            {{!-- {{#if (compare this.timeFormat "daily" "===")}} --}}
            <div>
              <li class="todoList">
                <span id="doneSpan"> | </span>
                {{content}}
              </li>
              <a href="/todos/{{this._id}}/delete"><img
                  class="icons"
                  src="/images/delete.png"
                  alt=""
                /></a>
              {{!-- <a href="/todos/{{this._id}}/update"><img
                    class="icons"
                    src="/images/edit.png"
                    alt=""
                  /></a> --}}
              <a href="/todos/{{this._id}}/update"><img
                  class="icons"
                  src="/images/done.png"
                  alt=""
                /></a>
            </div>
            {{!-- {{/if}} --}}
          {{/each}}
        </ul>
        <a class="linkStyle" href="/list/{{this._id}}/delete">delete list</a>
      </div>
    </div>
  {{/each}}

  {{!-- <div id="dailyDiv">
      <h1>WEEKLY</h1>

      <div class="dropdown">
        <form action="/todos/weekly" method="POST">
          <input
            class="addTaskInput"
            type="text"
            name="content"
            placeholder=" Name your task"
          />
          <button class="addTaskBtn">Add task</button>
        </form>

        <ul class="unList" id="unorderedList2">
          {{#each allTodos}}
            {{#if (compare this.timeFormat "weekly" "===")}}
              <div>
                <li class="todoList">
                  | {{content}}
                </li>
                <a href="/todos/{{this._id}}/delete"><img
                    class="icons"
                    src="/images/delete.png"
                    alt=""
                  /></a>
                  <a href="/todos/{{this._id}}/update"><img
                    class="icons"
                    src="/images/edit.png"
                    alt=""
                  /></a>
                <a href="/todos/{{this._id}}/update"><img
                    class="icons"
                    src="/images/done.png"
                    alt=""
                  /></a>
              </div>
            {{/if}}
          {{/each}}
        </ul>

      </div>
    </div> --}}

  <div class="list-card">
    <h2>Done Tasks</h2>
    <div class="doneContainer">
      {{#each this.doneTasks}}

        <div>
          {{content}}<span id="doneSpan"> | </span>
        </div>

      {{/each}}
      <a id="btnDeleteDone" class="linkStyle" href="/todos/delete-all">empty
        done tasks</a>
    </div>

  </div>
</div>